# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
.env/
venv/
ENV/

# Logs and caches
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/